<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-parent="#accordion2" href="#collapseOne">
        <h3>Apply discount code</h3>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="control-group">
          <label for="input01" class="control-label">Discount code: </label>
          <div class="controls">
            <input type="text" id="input01" class="input-xlarge" placeholder="Enter your coupon here">
            <p class="help-block">You can only use one discount code at a time</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-parent="#accordion2" href="#collapseTwo">
        <h3>Use gift voucher</h3>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="control-group">
          <label for="input01" class="control-label">Gift voucher: </label>
          <div class="controls">
            <input type="text" id="input01" class="input-xlarge" placeholder="Enter your gift voucher here">
            <p class="help-block">You can use multiple gift vouchers at a time</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
