<h1 class="taxon-title"><%= accurate_title %></h1>

<div data-hook="taxon_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>
