body {
  margin: 0px;
  padding: 0;
  font: 11px/18px Verdana, Arial, Helvetica, sana-serif;
}

html {
  background: url(../fondo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
}

#contenido_principal{
  width: 980px;
  height: auto;
  margin: auto;
}

#banner{
  margin: 5px 0;
  width: 980px;
  height: 208px;
  background: url(../banner.jpg) no-repeat;
  float: left;
}
#inicio_sesion{
  margin: 0 0;
  width: 21px;
  height: 20px;
  background: url(../inicio_sesion.jpg) no-repeat;
  float: right;
}
.social{
  width: 980px;
  height: 50px;
}

.social ul{
  width: 100px;
  height: 50px;
  margin: 115px 45px;
  list-style: none;
  float: right;
}
.social li a{
  float: right;
}

#social_twitter{
  width: 40px;
  height: 40px;
  background: url(../social_twitter.png) no-repeat;
}

#social_facebook{
  width: 40px;
  height: 40px;
  background: url(../social_facebook.png) no-repeat;
}

.cuerpo_coche{
  margin: -60px 0;
  width: 980px;
  height: 300px;
  background: url(../cuerpo_coche.png) no-repeat;
  float: left;
}

.cuerpo_moto{
  margin: -60px 0;
  width: 980px;
  height: 300px;
  background: url(../cuerpo_moto.png) no-repeat;
  float: left;
}

.cuerpo_carrito{
  margin: -60px 0;
  width: 980px;
  height: 650px;
  background: url(../cuerpo_carrito_980_650.png) no-repeat;
  float: left;
}

.cuerpo_taller{
  margin: -60px 0;
  width: 980px;
  height: 300px;
  background: url(../cuerpo_taller.png) no-repeat;
  float: left;
}

.menu{
  margin: 5px 0;
  width: 980px;
  height: 50px;
  float: left;
}

.menu ul{
  margin: 9px -5px;
  width: 980px;
  height: 50px;
  list-style: none;
}

.menu li a{
  float: left;
  text-decoration: none;
  padding: 0 5px;
}

#coche{
  width: 270px;
  height: 50px;
  background: url(../link_coche.png) no-repeat;
}

#moto{
  width: 270px;
  height: 50px;
  background: url(../link_moto.png) no-repeat;
}

#talleres{
  width: 270px;
  height: 50px;
  background: url(../link_talleres.png) no-repeat;
}

#carrito{
  margin: 0px -15px;
  width: 150px;
  height: 50px;
  background: url(../link_carrito.png) no-repeat;
}

#banner_medio{
  margin: 65px 0;
  width: 980px;
  height: 80px;
  background: url(../banner_medio.png) no-repeat;
  float: left;
  display: block;
}

#info{
  margin: -60px 0;
  width: 980px;
  height: 450px;
  float: left;
}

#ofertas{
  margin: 0 0;
  width: 680px;
  height: 450px;
  background: url(../fondo_ofertas.png) no-repeat;
  float: left;
}

#noticias{
  margin: 0 0;
  width: 295px;
  height: 450px;
  background: url(../fondo_noticias.png) no-repeat;
  float: right;
}

#pie{
  margin: 65px 0;
  width: 980px;
  height: 150px;
  background: url(../pie.png);
  float: left;
}

.pie_class{
  width: 980px;
  height: 50px;
}

.pie_class ul{
  width: 980px;
  height: 50px;
  margin: 15px 10px;
  list-style: none;
}

.pie_class li a{
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
}
