@import "store/variables";
nav#taxonomies {
    .taxonomy-root {
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: $main_navigation_header_font_size;
      background: #cfe2e4;
    }

    .taxons-list {
      padding-left: 20px;
      margin-bottom: 20px;
      list-style: none;
      li {
        a {
          font-size: $main_navigation_font_size;
        }
      }
    }
  }
nav#top-nav-bar {
    text-align: right;
    margin-top: 10px;
    }

#news {
  /*padding-top: 20px;*/
  border: 1px solid lighten($body_text_color, 60);
  /*height: 400px;*/
}
.tema {
  text-transform: uppercase;
  font-size: $main_navigation_header_font_size;
  background: #cfe2e4;
}

span.price {
  font-weight: bold;
  color: $link_text_color;

  &.selling {
    font-size: $product_detail_title_font_size;
  }
  &.diff {
    font-weight: bold;
  }
}
.title_search {
  background: black;
  color: yellow;
  font-size: $product_detail_title_font_size;
  border: 1px outset lighten($body_text_color, 60);
}
.container {
  box-shadow: 10px 10px 5px rgb(136, 136, 136);
  border-radius: 0px 0px 40px 40px;
}
nav#taxonomies .taxonomy-root {
  margin: 0px;
  font-size: 16px;
  color: rgb(254, 215, 0);
  background: none repeat scroll 0% 0% rgb(53, 53, 53);
  padding: 5px;
  text-align: center;
  border-radius: 15px 0px 15px 0px;
}
