<ul>
  <li><a href="">Nuestra Historia</a></li>
  <li><a href="">Talleres</a></li>
  <li><a href="">Contacto</a></li>
  <li><a href="">Entrega</a></li>
  <li><a href="">Condiciones Generales</a></li>
  <li><a href="">Mapa web</a></li>
</ul>