<ul>
  <li><%= link_to 'Nuestra Historia', about_index_url %></li>
  <li><%= link_to 'Busqueda Talleres', workshops_url %></li>
  <li><%= link_to 'Alta Taller', new_workshop_url %></li>
  <li><%= link_to 'Equivalencias', show_options_calc_tires_url %></li>
  <li><a href="">Condiciones Generales</a></li>
  <li><a href="">Mapa web</a></li>
</ul>
