<div class="menu">
  <ul id="myTab">
    <li><a href="#coches" onclick="hideBox('cuerpo_coche'); return false;" data-toggle="tab"><div id="coche"></div></a></li>
    <li><a href="#motos" onclick="hideBox('cuerpo_moto'); return false;" data-toggle="tab"><div id="moto"></div></a></li>
    <li><a href="#taller" onclick="hideBox('cuerpo_taller'); return false;" data-toggle="tab"><div id="talleres"></div></a></li>
    <li><div id="carrito" class ="cuerpo_carrito"><%= link_to_cart %></div></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="coches">
      <h1>Busqueda Neumaticos Automovil</h1>
      <%= render :partial => 'spree/shared/search_tyres_cars' %>
    </div>
    <div class="tab-pane" id="motos">
      <h1>Busqueda Neumaticos Moto</h1>
      <%= render :partial => 'spree/shared/search_tyres_motos' %>
    </div>
    <div class="tab-pane" id="taller">
      <%= link_to 'Gestion de Talleres', workshops_url, :class => "btn btn-large btn-primary" %>
    </div>
    <div class="tab-pane" id="carritos"><h3>Prueba de contenido</h3></div>
  </div>
</div>

<script type="text/javascript"><!--
function hideBox(boxName) {
  document.getElementById("cuerpo_de_coche").className = boxName;
}
//-->
</script>
