<div id="contenido_principal">
  <div id="banner">
    <%= render :partial => 'spree/shared/new_banner' %>
  </div>

  <div class="cuerpo_coche" id="cuerpo_de_coche">
    <%= render :partial => 'spree/shared/menu' %>
  </div>
  <div id="banner_medio"></div>
  <%= render :partial => 'spree/shared/info' %>
  <div id="pie">
    <div class="pie_class">
      <%= render :partial => 'spree/shared/footer' %>
    </div>
  </div>
</div>
