<div id="inicio_sesion"><!--insertar inicio sesi—n--></div>
<div class="social">
  <ul>
    <li><a href="http://twitter.com/NeuCoche"><div id="social_twitter"></div></a></li>
    <li><a href="http://facebook.com/neumaticosdecochecom"><div id="social_facebook"></div></a></li>
  </ul>
</div>